# This file specifies intentionally untracked files that all Moodle git
# repositories should ignore. It is recommended not to modify this file in your
# local clone. Instead, use .git/info/exclude and add new records there as
# needed.
#
# Example: if you deploy a contributed plugin mod/foobar into your site, put
# the following line into .git/info/exclude file in your Moodle clone:
# /mod/foobar/
#
# See gitignore(5) man page for more details
#

# Swap files (vim)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
# Temporary files including undo
*~
#
/tags
/TAGS
/cscope.*
/.patches/
/.idea/
.phpstorm.*
!/.phpstorm.meta.php/
/.phpstorm.meta.php/*
!/.phpstorm.meta.php/di.php
/nbproject/
CVS
.DS_Store
/.settings/
/.project
/.buildpath
/.cache
.phpunit.result.cache
phpunit.xml
# Composer support. Do not ignore composer.json, or composer.lock. These should be shipped by us.
composer.phar
/vendor/
/behat.yml
*/yui/build/*/*-coverage.js
/lib/yuilib/*/build/*/*-coverage.js
# lib/yuilib/version/module/module-coverage.js
/lib/yuilib/*/*/*-coverage.js
atlassian-ide-plugin.xml
/node_modules/
/.vscode/
moodle-plugin-ci.phar
.eslintignore
.stylelintignore
/jsdoc
/admin/tool/componentlibrary/docs
/admin/tool/componentlibrary/hugo/site/data/my-index.json
.hugo_build.lock
phpcs.xml
jsconfig.json
UPGRADING-CURRENT.md


### BGWS removing unnecessary plugins

# Admin Tools
###  Behat is PHP testing framework
    /admin/tool/behat
###  checks accessibility of site
    /admin/tool/brickfield
###  List all components via Grunt
    /admin/tool/componentlibrary
###  Transfer DB
    /admin/tool/dbtransfer
###  Generate testing courses
    /admin/tool/generator
###  Update all links from HTTP to HTTPS
    /admin/tool/httpsreplace
###  Install plugin by uploading zip or from Moodle plugin catalog
    /admin/tool/installaddon
###  IOMAD tool to create fake users for testing
    /admin/tool/iomadsite
###  Allow in-bound emails to system
    /admin/tool/messageinbound
###  Allow privileged user import content from MoodleNet
    /admin/tool/moodlenet
###  Fix lang tags from previous format
    /admin/tool/multilangupgrade
###  Allow OAuth2 with predefined SPs or custom
    /admin/tool/oauth2
###  PHP Unit tests documentation
    /admin/tool/phpunit
###  Profiling for PHP (requires other libraries)
    /admin/tool/profiling
###  Search all users to find spam users
    /admin/tool/spamcleaner

# Authentication
### CAS Authentication
    /auth/cas
### Authenticate users against external DB
    /auth/db
### IOMAD specific OIDC
    /auth/iomadoidc
### IOMAD specific SAML2
    /auth/iomadsaml2
### LDAP authentication
    /auth/ldap
### LTI authentication
    /auth/lti
### MoodleNet authentication
    /auth/mnet
### OAuth2 authentication
    /auth/oauth2
### Shibboleth authentication
    /auth/shibboleth

# Blocks
### Review from Brickfield tool
    /blocks/accessreview
### Display user's badges
    /blocks/badges
### Display Blog menu
    /blocks/blog_menu
### Display recent Blogs
    /blocks/blog_recent
### Display Blog tags
    /blocks/blog_tags
### Display Global Search
    /blocks/globalsearch
### Display randomg Glossary entry
    /blocks/glossary_random
### IOMAD Commerce block
    /blocks/iomad_commerce
### IOMAD display Online Users
    /blocks/iomad_onlineusers
### IOMAD welcome block
    /blocks/iomad_welcome
### Display available MoodleNet hosts
    /blocks/mnet_hosts
### Display online users
    /blocks/online_users
### Display RSS feed
    /blocks/rss_client
### Display Flickr images
    /blocks/tag_flickr
### Display Youtube videos
    /blocks/tag_youtube

# Cache Stores
### APCU
    /cache/stores/apcu

# Data formats
### Excel
    /dataformat/excel
### OpenDocument
    /dataformat/ods

# Enrollment methods
### Fee (we won't have payment methods)
    /enrol/fee
### Guest access to courses
    /enrol/guest
### IMS Enterprise (https://docs.moodle.org/405/en/IMS_Enterprise)
    /enrol/imsenterprise
### LDAP
    /enrol/ldap
### LTI
    /enrol/lti
### MNet
    /enrol/mnet
### Paypal
    /enrol/paypal

# Document Converters
### Google Drive
    /files/converter/googledrive
### Unoconv - we are not supporting PDF feedback - https://docs.moodle.org/405/en/Universal_Office_Converter_(unoconv)
    /files/converter/unoconv

# Filters
### REMOVING THESE DUE TO SAST
### Algebra
    /filter/algebra
### LaTeX
    /filter/tex

# Grade export
### OpenDocument
    /grade/export/ods
### Excel
    /grade/export/xls
### XML
    /grade/export/xml

# Grade import
### User directly pasted from spreadsheet
    /grade/import/direct
### XML
    /grade/import/xml

# Local plugins
### Sync OIDC
    /local/iomad_oidc_sync

# Media players
### Vimeo
    /media/player/vimeo
### Youtube
    /media/player/youtube

# Message output
### Airnotifier
    /message/output/airnotifier

# Activity modules
### BigBlueButton
    /mod/bigbluebuttonbn
### IMS content package
    /mod/imscp
### LTI
    /mod/lti

# Assignment feedback
### Annotate PDF - requires YUI
    /mod/feedback/editpdf

# Book tools
### Export book as IMS content package
    /mod/book/tool/exportimscp

# Quiz access rule
### Take quiz in Safe Exam Browser
    /mod/quiz/accessrule/seb

# Portfolio
### Flickr
    /portfolio/flickr
### Google Docs
    /portfolio/googledocs
### Mahara ePortfolio (mnet)
    /portfolio/mahara

# Question bank
### Export to XML
    /question/bank/exporttoxml

# Question format
### Import Blackboard-formatted questions
    /question/format/blackboard_six
### Import XML-formatted questions
    /question/format/xml

# Repository
### Dropbox
    /repository/dropbox
### EQUELLA
    /repository/equella
### Flickr
    /repository/flickr
    /repository/flickr_public
### Google Docs
    /repository/googledocs
### Merlot.org
    /repository/merlot
### Nextcloud
    /repository/nextcloud
### OneDrive
    /repository/onedrive
### S3
    /repository/s3
### WebDav
    /repository/webdav
### Wikimedia
    /repository/wikimedia
### Youtube
    /repository/youtube

# Search engine
### SOLR
    /search/engine/solr

# SAST specific
### Removing example web service clients for IOMAD
    /blocks/iomad_company_admin/wsclients/*.php
### AWS-SDK
    /lib/aws-sdk
### Google-SDK
    /lib/google
### ADOdb https://docs.moodle.org/dev/ADOdb
    /lib/adodb

# MDR - CER-35
# Removing phpinfo for SAST scan
/admin/phpinfo.php

# MDR - CER-47
# Removing package(-lock).json for h5p's ckeditor5
/h5p/h5plib/v127/joubel/editor/package-lock.json
/h5p/h5plib/v127/joubel/editor/package.json
/h5p/h5plib/v127/editor/ckeditor5/package-lock.json
/h5p/h5plib/v127/editor/ckeditor5/package.json

# MDR - CER-52 + CER-53
# Removing phpinfo for SAST scan
/h5p/h5plib/v127/joubel/editor/ckeditor5/package-lock.json
/h5p/h5plib/v127/joubel/editor/ckeditor5/package.json

# GSJ - CER-37
# Removing AMD/YUI src files and YUI build debug files.
# These files are used by Grunt to generate the min files in /amd/build or /yui/build that Moodle actually uses.
# We are going to remove these for now as we only need the minified files.
/amd/src
/yui/src
**/amd/src/**/*.js
**/yui/src/**/*.js
**/yui/build/*-debug.js

# MDR - CER-34
# Removing Flickr client and class
/lib/flickrlib.php
/lib/flickrclient.php